<div class="row py-3">
  <div class="col-2 offset-1"><%= announcement.user.name %></div>
  <div class="col-8">
    <% if announcement.content %>
      <%= render announcement.content %>
    <% end %>

    <%= desc announcement.desc %>
    <%= render "announcements/attachments", attachments: announcement.attachments %>
    <% if announcement.published? %>
      <%= t 'announcements.duration_day.continuing', time: time_ago_in_words(announcement.expired_at) %>
    <% else %>
      <%= t 'announcements.duration_day.expired' %>
    <% end %>

    <% if policy(@announcement).edit? %>
      <%= link_to t('common.edit'), edit_announcement_path(announcement) %> |
    <% end %>
  </div>

</div>