<div class="form-group">
  <%= form.label :desc %>
  <% if desc_placeholder %>
    <%= form.trix_editor :desc, placeholder: desc_placeholder %>
  <% else %>
    <%= form.trix_editor :desc %>
  <% end %>
</div>

<%#= render 'announcements/attachment_form_field', form: form %>

<div class="form-group" style="display: none">
  <%= form.label :duration_day %>
  <% if form.object.persisted? and form.object.published? %>
    <%= form.text_field :duration_day, class: "form-control", readonly: true  %>
  <% else %>
    <%= form.select :duration_day, form.object.class::DURATION_DAYS.collect { |d| ["#{d} gün", d] },
          {}, class: 'form-control' %>

  <% end %>
</div>
