<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.trix_editor :desc %>
  </div>

  <%= render 'attachment_form_field', form: form %>

  <div class="form-group">
    <% if form.object.published? %>
    <% else %>
      <%= form.label :duration_day %>
      <%= form.select :duration_day, form.object.class::DURATION_DAYS.collect { |d| ["#{d} gün", d] },
            {}, class: 'form-control' %>

    <% end %>
  </div>


  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
