<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :attachments %>
    <%= form.fields_for :attachments do |ff|  %>
      <div class="mb-1">
        <% if ff.object.persisted? %>
          <div class="form-control">
            <span><%= link_to ff.object.send(:attribute,:file), ff.object.file_url, target: '_blank' %></span>
            <div class="form-check form-check-inline float-right">
              <%= ff.check_box :_destroy, class: "form-check-input" %>
              <%= ff.label :_destroy, class: "form-check-label" %>
            </div>
          </div>
        <% else %>
          <%= ff.file_field :file, class: 'form-control' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
