<tr class="<%= 'table-secondary' unless announcement.published? %>">
  <td>
    <% if announcement.published? %>
      Yayında
    <% else %>
      Yayında değil
    <% end %>
  </td>
  <td><%= link_to truncate(strip_tags(announcement.desc), length: 40), announcement %></td>
  <td><%= announcement.offers.count %> offer</td>
  <td><%= time_ago_in_words announcement.expired_at %></td>
  <td>

    <div class="dropdown">
      <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        İşlemler
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Düzenle", edit_announcement_path(announcement), class: 'dropdown-item' %>
        <% if announcement.published? %>
          <%= link_to "Yayından Kaldır",
                      expire_announcement_path(announcement), 
                      method: :put,
                      data: { confirm: "Yayindan kaldirmak istediginize emin misiniz?"},
                      class: 'dropdown-item'  %>
        <% end %>
      </div>
    </div>
  </td>
</tr>