<tr class="<%= 'table-warning' unless announcement.published? %>">
  <td>
    <% unless announcement.published? %>
      Yayında değil
    <% end %>
  </td>
  <td><%= link_to truncate(strip_tags(announcement.desc), length: 40), announcement %></td>
  <td><%= announcement.offers.count %> offer</td>
  <td><%= time_ago_in_words announcement.expired_at %></td>
  <td>
    <%= link_to "Düzenle", [:edit, announcement]  %>
    <% if announcement.published? %>
      <%= link_to "Yayından Kaldır",
                  expire_announcement_path(announcement), 
                  method: :put,
                  data: { confirm: "Yayindan kaldirmak istediginize emin misiniz?"}  %>
    <% end %>
  </td>
</tr>