<% unless @announcement.published? %>
  <div class="alert alert-warning" role="alert">
    İlanın yayın süresi doldu. Tekliflere kapalı.
  </div>
<% end %>

<div class="border-bottom d-flex">
  <h3 class="h5 pt-1"><%= @announcement.title %></h3>
  <% unless @announcement.expired? %>
    <div class="ml-3">
      <span class="badge badge-success">Teklifler toplanıyor</span>
    </div>
  <% end %>

  <% if policy(@announcement).edit? %>
    <div class="dropdown ml-auto make-something">
      <button class="btn btn-sm btn-primary dropdown-toggle"
        id="actions-button"
        type="button"
        data-toggle="dropdown"
        data-trigger="manual"
        aria-haspopup="true"
        aria-expanded="false"
        data-toggle="popover"
        data-content="İlanınızı buradan yönetebilirsiniz">
        İşlemler
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Düzenle', edit_announcement_path(@announcement), class: "dropdown-item" %>
          <%= link_to "Yayından Kaldır",
                      expire_announcement_path(@announcement), 
                      method: :put,
                      data: { confirm: "Yayindan kaldirmak istediginize emin misiniz?"},
                      class: "dropdown-item"  %>
      </div>
    </div>
  <% end %>
</div>

<%= render @announcement %>


<div class="mt-5 border-bottom">
  <% if policy(@announcement).new_offer? %>
    <%= link_to "Teklif Yap",
                new_announcement_offer_path(@announcement),
                class: "btn btn-primary float-right"  %>
  <% elsif user_signed_in? and offer = current_user.offer_for('draft', @announcement) %>
    <%= link_to "Taslağa Devam Et",
                [:edit, @announcement, offer],
                class: "btn btn-warning float-right"  %>
  <% elsif user_signed_in? and offer = current_user.offer_for('published', @announcement) %>
    <span class="float-right text-success">
      Teklif yaptiniz
      <%= link_to "Teklifi düzenle", [:edit, @announcement, offer] %>
      <i class="material-icons text-success">done</i>
    </span>
  <% end %>

  <h3 class="h5 pt-3">TEKLİFLER</h3>
</div>

<%= (render @announcement.offers.where(state: 'published')) or 
  content_tag(:p, "Hiç teklif yok. İlk teklifi yapan sen ol!", class: "text-center text-muted mt-4") %>