<table class="table table-sm">
  <thead>
    <tr>
      <th>No</th>
      <th>İlan No</th>
      <th>Kullanıcı</th>
      <th>İlan durumu</th>
      <th>Teklif durumu</th>
      <th>Ek</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to "##{offer.id}", [offer.announcement, offer]  %></td>
        <td><%= link_to "##{offer.announcement.id}", offer.announcement %></td>
        <td><%= offer.user.name %></td>

        <% css = if offer.announcement.expired?
          "table-secondary"
        elsif offer.announcement.published?
          "table-success"
        end %>
        <td class="<%= css %>">
          <% css = if offer.announcement.expired? %>
            Expired
          <% elsif offer.announcement.published? %>
            Published
          <% end %>
        </td>
        <td><%= offer.state %></td>
        <td><%= offer.attachments.count %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              İşlemler
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <% if policy(offer).edit? %>
                <%= link_to "Düzenle",
                  edit_announcement_offer_path(offer.announcement, offer),
                  class: 'dropdown-item'  %>
              <% end %>

              <% if offer.draft? %>
                <%= link_to "Kaldir",
                            [offer.announcement, offer], 
                            method: :delete,
                            data: { confirm: "Silmek istediğinize emin misiniz?" },
                            class: 'dropdown-item' %>
              <% end %>
            </div>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>