<%= page_header "Teklif" %>


<h5>Talep ilanı</h5>
<%= render 'announcements/announcement_card', announcement: (@announcement = @offer.announcement) %>

<table class="table table-hover  table-sm">
  <tr>
    <td>Teklif</td>
    <td><%= desc @offer.desc %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @offer.state %></td>
  </tr>
  <tr>
    <td>Subscriber</td>
    <td><%= @offer.subscriber.user.name %></td>
  </tr>
  <tr>
    <td>Created At</td>
    <td><%= time_ago_in_words(@offer.created_at) %> önce</td>
  </tr>
  <tr>
    <td>Updated At</td>
    <td><%= time_ago_in_words(@offer.updated_at) %> önce</td>
  </tr>
  <tr>
    <td>Islemler</td>
    <td>
      <%= link_to "Duzenle", edit_administration_offer_path(@offer)  %>
    </td>
  </tr>
  <tr>
    <td>İlan sahibine gönderim yap</td>
    <td>
      <%= form_with model: OpenStruct.new({ 
                            mailer: "UserMailer",
                            type: "new_offer",
                            params: { offer_id: @offer.id },
                            redirect_url: current_path,
                            vvhen: "now"}),
                    scope: :mail, 
                    url: send_email_to_user_administration_offers_path do |f| %>
        <%= f.hidden_field :mailer %>
        <%= f.hidden_field :type %>
        <%= f.hidden_field :vvhen %>
        <%= f.fields_for :params do |ff| %>
          <%= ff.hidden_field :offer_id %>
        <% end %>
        <%= f.hidden_field :redirect_url %>
        <%= f.submit "Mail gönder", class: "btn btn-sm btn-success" %>
      <% end %>

      <%= link_to "Email gönder", send_email_to_user_administration_offers_path(
                                    params[],
                                    offer_id: @offer.id) %>
      <%= link_to "SMS gönder", send_sms_to_user_administration_offers_path(offer_id: @offer.id) %>
    </td>
  </tr>
</table>
