<%= page_header "Teklif" %>


<h5>Talep ilanı</h5>
<%= render 'announcements/announcement_card', announcement: (@announcement = @offer.announcement) %>

<table class="table table-hover  table-sm">
  <tr>
    <td>Teklif</td>
    <td><%= desc @offer.desc %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @offer.state %></td>
  </tr>
  <tr>
    <td>Subscriber</td>
    <td><%= @offer.subscriber.user.name %></td>
  </tr>
  <tr>
    <td>Created At</td>
    <td><%= time_ago_in_words(@offer.created_at) %> önce</td>
  </tr>
  <tr>
    <td>Updated At</td>
    <td><%= time_ago_in_words(@offer.updated_at) %> önce</td>
  </tr>
  <tr>
    <td>Islemler</td>
    <td>
      <%= link_to "Duzenle", edit_administration_offer_path(@offer)  %>
    </td>
  </tr>
  <tr>
    <td>Talep sahibine teklifi bildir</td>
    <td>
      <%= link_to email_administration_notification_path(mailer: "UserMailer",
                    type: "new_offer",
                    params: { offer_id: @offer.id },
                    redirect_url: request.fullpath,
                    vvhen: "now"),
                  method: :post,
                  class: "btn btn-sm btn-success d-inline-flex" do %>
        <i class="mi">email</i> Mail Gönder
      <% end %>

      <%= link_to sms_administration_notification_path(
                    offer_id: @offer.id,
                    redirect_url: request.fullpath
                  ),
                  method: :post,
                  class: "btn btn-sm btn-success d-inline-flex" do %>
        <i class="mi">sms</i> SMS Gönder
      <% end %>
    </td>
  </tr>
</table>
