<%= form_with(model: content, local: true) do |form| %>
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <%= render 'form_errors', object: form.object %>

      <%= form.fields_for :announcement, form.object.announcement do |af| %>
        <%= render 'announcements/title_field', form: af %>
      <% end %>

      <%= form.fields_for :announcement, form.object.announcement do |af| %>
        <%= render 'announcements/fields_for_announcement', form: af %>
      <% end %>

      <%= form.submit nil, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
