<%= form_with(model: content, local: true) do |form| %>
  <%= render 'form_errors', object: form.object %>

  <%= form.fields_for :announcement do |af| %>
    <%= render 'announcements/title_field', form: af %>
  <% end %>


  <div class="form-group">
    <%= form.label :make %>
    <%= form.select :make, form.object.class::BRANDS, {include_blank: true}, {class: 'form-control'} %>
  </div>

  <%= form.fields_for :announcement do |af| %>
    <%= render 'announcements/fields_for_announcement',
          form: af, 
          desc_placeholder: t("car_announcements.desc_placeholder") %>
  <% end %>

  <%= form.submit nil, class: 'btn btn-success' %>
<% end %>
