<p id="notice"><%= notice %></p>

<h1><%= t ".title" %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t "activerecord.attributes.announcement.title" %></th>
      <th><%= t "activerecord.attributes.car_announcement.make" %></th>
      <th><%= t "offers.count" %></th>
    </tr>
  </thead>

  <tbody>
    <% @cas.each do |ca| %>
      <tr>
        <td><%= ca.announcement.title %></td>
        <td><%= ca.make %></td>
        <td><%= ca.announcement.offers.count %></td>
        <td><%= link_to t('common.show'), ca %></td>
        <td><%= link_to t('common.edit'), edit_car_announcement_path(ca) %></td>
        <td><%= link_to t('common.destroy'), ca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("car_announcements.new_car_announcement"),
            new_car_announcement_path %>
