<%= title t(".title") %>

<p id="notice"><%= notice %></p>

<h1><%= t ".title" %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t "activerecord.attributes.announcement.title" %></th>
      <th><%= t "activerecord.attributes.car_announcement.make" %></th>
      <th><%= t "offers.count" %></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.announcement.title %></td>
        <td><%= content.make %></td>
        <td><%= content.announcement.offers.count %></td>
        <td><%= link_to t('common.show'), content %></td>
        <td><%= link_to t('common.edit'), edit_car_announcement_path(content) %></td>
        <td><%= link_to t('common.destroy'), content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("car_announcements.new_car_announcement"),
            new_car_announcement_path %>
