<div class="list-group list-group-flush border-right border-md-bottom-0 border-bottom w-100">
  <%= dashboard_nav_link administration_path do %>
    Dashboard
  <% end %>
  <%= dashboard_nav_link administration_announcements_path do %>
    İlanlar
    <span class="badge badge-primary badge-pill">
      <%= Announcement.published.count %>
    </span>
  <% end %>
  <%= dashboard_nav_link administration_offers_path do %>
    Teklifler
    <span class="badge badge-primary badge-pill">
      <%= Offer.publishing.count %>
    </span>
  <% end %>
  <%= dashboard_nav_link administration_users_path do %>
    Kullanıcılar
    <span class="badge badge-primary badge-pill">
      <%= User.count %>
    </span>
  <% end %>
  <%= dashboard_nav_link administration_subscribers_path do %>
    Aboneler
    <span class="badge badge-primary badge-pill">
      <%= Subscriber.count %>
    </span>
  <% end %>
  <%= dashboard_nav_link administration_car_announcement_subscriptions_path do %>
    Araba Abonelikleri
    <span class="badge badge-primary badge-pill">
      <%= CarAnnouncementSubscription.count %>
    </span>
  <% end %>
</div>