<div class="row">
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-3">
    <div class="card flex-fill">
      <div class="card-header">
        Kalan SMS
      </div>
      <div class="card-body">
        <h3 class="display-1 card-title text-center">
          <% case balance = Sms.balance.to_i %>
          <% when 0..500 %>
            <span class="text-danger"><%= balance %></span>
          <% else %>
            <span class="text-success"><%= balance %></span>
          <% end %>
        </h3>
        <p class="card-text">
          Yüklemek için
          <a href="https://www.iletimerkezi.com">iletimerkezi.com</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-3">
    <div class="card flex-fill">
      <div class="card-header">
        Sidekiq
      </div>
      <div class="card-body">
        <h3 class="h3 card-title text-center">
          <%= `systemctl is-active sidekiq`.to_s %> /
          <%= `systemctl is-enabled sidekiq`.to_s %>
        </h3>
        <p class="card-text">
          <%= link_to "Sidekiq Web UI", sidekiq_web_path %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-3">
    <div class="card flex-fill">
      <div class="card-header">
        @<%= t "common.domain.short" %>
      </div>
      <div class="card-body">
        <p class="card-text">
          @<%= t "common.domain.short" %> posta kutunuza
          <%= link_to "https://mail.yandex.com.tr/?pdd_domain=teklifal.com", "https://mail.yandex.com.tr/?pdd_domain=teklifal.com" %>
          bağlantısı ile ulaşabilirsiniz.
        </p>
      </div>
    </div>
  </div>
</div>