<section class="position-relative jumbotron mb-0">
  <div id="map" class="map"></div>
  <div id="map-overlay" class="map"></div>

  <div class="row">
    <div class="offset-7 col-5" id="controls">

      <div class="card" style="background-color:rgba(255, 255, 255, 0.6);">
        <div class="card-body">

          <%= form_with model: CarRentalAnnouncement.new do |f| %>
            <div class="form-group">
              <div class="d-flex">
                <%= f.label :pick_up_location %>

                <div class="ml-auto">
                  <div class="form-check">
                    <%= f.check_box :different_location, class: "form-check-input" %>
                    <%= f.label :different_location, class: "from-check-label small" %>
                  </div>
                </div>
              </div>

              <%= f.text_field :pick_up_location, class: 'form-control' %>
            </div>
              
            <div class="form-group" id="dropOffField">
              <%= f.label :drop_off_location %>
              <%= f.text_field :drop_off_location, class: 'form-control' %>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <%= f.label :pick_up_time %>
                <%= f.text_field :pick_up_time, class: 'form-control flatpickr' %>
              </div>

              <div class="form-group col">
                <%= f.label :drop_off_time %>
                <%= f.text_field :drop_off_time, class: 'form-control flatpickr' %>
              </div>
            </div>
            <%= f.submit "Hemen talep gönder", class: "btn btn-success w-100" %>
          <% end %>
        </div>
      </div>
    </div>
      
  </div>
</section>