<div class="item">
  <div class="item-body" id="new-car-slide">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="p-3 p-md-4 p-lg-5 text-white">
          <style type="text/css">
            .item-body {
              background-size: cover;
              background-position: center center;
            }

            #new-car-slide {
              background-image: 
                linear-gradient(
                  rgba(0, 0, 0, 0.8), 
                  rgba(0, 0, 0, 0.8)
                ),
                url(<%= asset_path "new-car.jpg" %>);
            }
          </style>

          <p class="h2 mb-0">0 km araba alırken;</p>
          <p class="h3 mb-3">bayilerden teklif alın</p>
          <p> Bayilerin size özel yaptıkları teklifleri değerlendirin. <br>
              Alırken kazanın.</p>
          <!-- <p class="font-italic small mt-5 mb-1 d-flex align-items-center text-success">
            <i class="mi mr-1">check</i>
            <span>Araç alırken farklı bayilerden teklif almanın %8'e varan avantaj sağladığını biliyor muydunuz?</span>
          </p>
          <p class="font-italic small d-flex align-items-center text-warning">
            <i class="mi mr-1">access_time</i>
            <span>Form doldurmak yaklaşık 2 dk. sürer</span>
          </p> -->
        </div>
      </div>

      <div class="col-12 offset-md-3 col-md-5">
        <div class="p-3 p-md-4 p-lg-5">
          <div class="card" style="background-color:rgba(255, 255, 255, 0.6);">
            <div class="card-body">

              <%= form_with model: CarAnnouncement.new.tap { |ca|
                              ca.build_announcement
                            },
                            url: car_new_announcement_path,
                            local: true do |f| %>
                <div class="form-group">
                  <label>Marka</label>
                  <%= f.select :make,
                    CarAnnouncement::BRANDS.collect { |brand| [brand.to_s, brand.to_s] },
                    {include_blank: true },
                    {class: "form-control"} %>
                </div>
                <div class="form-group">
                  <label>Talep</label>
                  <%= f.fields_for :announcement do |ann_form| %>
                    <%= ann_form.text_field :desc, class: 'form-control' %>
                  <% end %>
                </div>

                <%= f.submit "TEKLİF AL", class: "btn btn-success w-100" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>