<div class="item">
  <div class="item-body" id="car-rental-slide">
    <div class="row">


      <div class="col-12 col-md-4">
        <div class="p-3 p-md-4 p-lg-5 text-white">
          <style type="text/css">
            #car-rental-slide {
              background-image: 
                linear-gradient(
                  rgba(0, 0, 0, 0.8),
                  rgba(0, 0, 0, 0.8)
                ),
                url(<%= asset_path "car-rental.jpg" %>);
            }
          </style>
          <h1>Araba kiralarken;</h1>
          <h2>bayilerden teklif alın</h2>
          <p>Size bayilerin yaptıkları teklifleri değerlendirin.</p>
          <p>Alırken kazanın.</p>
        </div>
      </div>

      <div class="col-12 offset-md-2 col-md-6">
        <div class="p-3 p-md-4 p-lg-5">
          <div class="card" style="background-color:rgba(255, 255, 255, 0.6);">
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col">
                  <label>Alış yeri</label>
                  <%= text_field_tag :pick_up_location, nil, class: 'form-control' %>
                </div>

                <script type="text/javascript">
                  
                </script>

                <div class="form-group col">
                  <label>Teslim yeri</label>
                  <%= text_field_tag :drop_off_location, nil, class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label>Alış zamanı</label>
                  <%= text_field_tag :pick_up_time, nil, class: 'form-control flatpickr' %>
                </div>

                <div class="form-group col">
                  <label>Teslim zamanı</label>
                  <%= text_field_tag :drop_off_time, nil, class: 'form-control flatpickr' %>
                </div>
              </div>
              <button class="btn btn-primary w-100">Teklif Al</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>