<div class="item">
  <div class="item-body position-relative" id="new-car-slide">
    <div id="map" class="map"></div>
    <div id="map-overlay" class="map"></div>
    <div class="row" style="position:relative; z-index:2">
      <div class="col-12 col-md-4">
        <div class="p-3 p-md-4 p-lg-5 text-white">
          <p class="h2 mb-0">Araba kiralarken;</p>
          <p class="h3 mb-3">bayilerden teklif alın</p>
          <p> Bayilerin size özel yaptıkları teklifleri değerlendirin. <br>
              Alırken kazanın.</p>
        </div>
      </div>
      <div class="col-12 offset-md-3 col-md-5" id="controls">
        <div class="p-3 p-md-4 p-lg-5">
          <div class="card" style="background-color:rgba(255, 255, 255, 0.6);">
            <div class="card-body">

              <%= form_with model: CarRentalAnnouncement.new.tap { |ca|
                              ca.build_announcement
                            },
                            url: car_rental_new_announcement_path,
                            local: true do |f| %>
                <div class="form-group">
                  <div class="d-flex">
                    <%= f.label :pick_up_location %>

                    <div class="ml-auto">
                      <div class="form-check">
                        <%= f.check_box :different_location, class: "form-check-input" %>
                        <%= f.label :different_location, class: "from-check-label small" %>
                      </div>
                    </div>
                  </div>

                  <%= f.text_field :pick_up_location, class: 'form-control' %>
                  <%= f.hidden_field :latitude %>
                  <%= f.hidden_field :longitude %>
                </div>
                  
                <div class="form-group" id="dropOffField">
                  <%= f.label :drop_off_location %>
                  <%= f.text_field :drop_off_location, class: 'form-control' %>
                </div>

                <div class="form-row">
                  <div class="form-group col">
                    <%= f.label :pick_up_time %>
                    <%= f.text_field :pick_up_time, class: 'form-control flatpickr' %>
                  </div>

                  <div class="form-group col">
                    <%= f.label :drop_off_time %>
                    <%= f.text_field :drop_off_time, class: 'form-control flatpickr' %>
                  </div>
                </div>
                <%= f.submit "TEKLİF AL", class: "btn btn-success w-100" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>