<%= content_for :foot do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCIxAE_my2qNSdN_s5LBH06a3oTPPbLbUo&libraries=places&callback=initMap&language=tr&region=TR",
        async: true,
        defer: true %>
<% end %>

<div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= render 'slide_everything' %>
    </div>
    <div class="carousel-item">
      <%= render 'slide_car' %>
    </div>
    <div class="carousel-item">
      <%= render "car_rental_form" %>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-body text-center">
        <%= image_tag "car-dark.png", class: 'w-100 mb-3' %>
        <p class="card-text">
          Yeni araba almak icin <strong>234</strong> bayiden sana özel
          <%= link_to "teklif al", car_new_announcement_path %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-body text-center">
        <%= image_tag "home.png", class: 'w-100 mb-3' %>
        <p class="card-text">Arabanı satmak için <strong>304</strong> oto galeriden sana özel <a href="#">teklif al</a></p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-body text-center">
        <%= image_tag "household-appliances.png", class: 'w-100 mb-3' %>
        <p class="card-text">Yeni ev eşyası almak için <strong>234</strong> satıcıdan sana özel <a href="#">teklif al</a></p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-body text-center">
        <%= image_tag "rent-a-car.png", class: 'w-100 mb-3' %>
        <p class="card-text">Araba kiralama firmalarından sana özel <%= link_to "teklif al", car_rental_new_announcement_path %></p>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-5 mb-3 h6">NASIL ÇALIŞIR?</h3>
<div class="card-group card-stepper">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">1</h5>
      <p class="card-text">Ücretsiz ilan ver. Teklifleri bekle.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">2</h5>
      <p class="card-text">Aboneler teklif yapsın.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">3</h5>
      <p class="card-text">İstediğin teklifi değerlendir.</p>
    </div>
  </div>
</div>



<h3 class="mt-5">Güncel İlanlar</h3>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Ilan</th>
      <th scope="col">Ekleyen</th>
      <th scope="col">Teklif sayisi</th>
      <th scope="col">Eklenme zamani</th>
    </tr>
  </thead>
  <tbody>
    <% Announcement.published.order(created_at: :desc).each do |ann| %>
      <tr>
        <td><%= link_to ann.title, ann %></th>
        <td><%= ann.user.name %></th>
        <td><%= ann.offers.size %> teklif</td>
        <td><%= time_ago_in_words ann.created_at %> once</td>
      </tr>
    <% end %>
  </tbody>
</table>

