<%= content_for :foot do %>
  <%= javascript_tag defer: true, async: true do %>
    if(window.google){
      initMap();
    } else{
      $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCIxAE_my2qNSdN_s5LBH06a3oTPPbLbUo&libraries=places&callback=initAutocomplete&language=tr&region=TR', {
        crossDomain: true,
        dataType: 'script'
      });
    }
  <% end %>
<% end %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= render "spotlight_car" %>
    </div>
    <div class="carousel-item">
      <%= render "spotlight_car_rental" %>
    </div>
    <div class="carousel-item">
      <%= render "spotlight_household_appliances" %>
    </div>
    <div class="carousel-item">
      <%= render "spotlight" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
</div>

<div class="container" id="slider-buttons">
  <div class="row mt-5">
    <div class="col-3">
      <div class="card mb-4 bg-light-primary" data-target="#carouselExampleIndicators" data-slide-to="0">
        <div class="card-body text-center">
          <%= image_tag "car-dark.png", class: 'w-100 mb-3' %>
          <p class="card-text">
            Yeni araba almak icin bayilerden sana özel <strong>teklif al</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4">
        <div class="card-body text-center" data-target="#carouselExampleIndicators" data-slide-to="1">
          <%= image_tag "rent-a-car.png", class: 'w-100 mb-3' %>
          <p class="card-text">Araba kiralama firmalarından sana özel <strong>teklif al</strong>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4" data-target="#carouselExampleIndicators" data-slide-to="2">
        <div class="card-body text-center">
          <%= image_tag "household-appliances.png", class: 'w-100 mb-3' %>
          <p class="card-text">Yeni ev eşyası almak için bayilerden sana özel <strong>teklif al</strong></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4"  data-target="#carouselExampleIndicators" data-slide-to="3">
        <div class="card-body text-center">
          <%= image_tag "box.png", class: 'w-100 mb-3' %>
          <p class="card-text">Ne ihtiyacin varsa firmalardan <%= link_to "teklif al", new_announcement_path %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h3 class="mt-5 mb-3 h6">NASIL ÇALIŞIR?</h3>
  <div class="card-group card-stepper">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">1</h5>
        <p class="card-text">Ücretsiz ilan ver. Teklifleri bekle.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2</h5>
        <p class="card-text">Aboneler teklif yapsın.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">3</h5>
        <p class="card-text">İstediğin teklifi değerlendir.</p>
      </div>
    </div>
  </div>  
</div>

<div class="container">
  <div class="rounded mobile-app">
    <div class="row">
      <div class="col p-5 text-white d-flex flex-column">
        <h2 class="h3">Mobil Uygulama</h2>
        <p style="flex: 1 0 auto">Artık teklif sitemizi yanınızda taşıyın.</p>

        <div class="d-flex">
          <%= link_to page_path("android"), class:"mr-3" do %>
            <%= image_tag "play-badge.png", class: "img-fluid" %>
          <% end %>
          <%= link_to page_path("ios") do %>
            <%= image_tag "app-store-badge.svg", class: "img-fluid" %>
          <% end %>
        </div>
      </div>
      <div class="col pt-5">
        <%= image_tag "hand-phone.png", class: "img-fluid d-block", style: "width: 50%; margin: auto" %>
      </div>
    </div>
  </div>
</div>
