<tr class="<%= 'table-secondary' unless announcement.published? %>">
  <td>
    <% if announcement.published? %>
      <%= t "announcements.publishing" %>
    <% else %>
      <%= t "announcements.unpublished" %>
    <% end %>
  </td>
  <td><%= link_to announcement.title, announcement %></td>
  <td><%= announcement.offers.count %> offer</td>
  <td><%= time_ago_in_words announcement.expired_at %></td>
  <td>

    <div class="dropdown">
      <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t "common.actions" %>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to t("common.edit"), edit_announcement_path(announcement), class: 'dropdown-item' %>
        <% if announcement.published? %>
          <%= link_to t("announcements.expire"),
                      expire_announcement_path(announcement), 
                      method: :put,
                      data: { confirm: t("announcements.expire_are_you_sure")},
                      class: 'dropdown-item'  %>
        <% end %>
      </div>
    </div>
  </td>
</tr>