<% 

  trclass = if offer.draft? 
    "table-warning"
  elsif offer.active?
    "table-success"
  end
 %>

<tr class="<%= trclass %>">
  <td>
    <% if offer.draft? %>
      <%= t "offers.draft" %>
    <% elsif offer.announcement.expired? %>
      <%= t "announcements.duration_day.expired" %>
    <% elsif offer.active? %>
      <%= t "offers.active" %>
    <% end %>
  </td>
  <td><%= link_to "##{offer.id}", [offer.announcement, offer] %></td>
  <td><%= link_to offer.announcement.title, offer.announcement %></td>
  <td><%= offer.announcement.offers.count %> offer</td>
  <td><%= time_ago_in_words offer.announcement.updated_at %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t "common.actions" %>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <% if policy(offer).edit? %>
          <%= link_to t("common.edit"),
            edit_announcement_offer_path(offer.announcement, offer),
            class: 'dropdown-item'  %>
        <% end %>

        <% if offer.draft? %>
          <%= link_to t("common.destroy"),
                      [offer.announcement, offer], 
                      method: :delete,
                      data: { confirm: t("offers.destroy_are_you_sure") },
                      class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </td>
</tr>