<%= title t "offers.my_offers" %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <h2 class="h4 mt-1 mr-4"><%= t "offers.my_offers" %></h2>
  </li>
  <li class="nav-item">
    <%= link_to t("offers.draft"), offers_user_index_path(status: :draft), class: "nav-link #{'active' if params[:status] == 'draft'}" %>
  </li>
  <li class="nav-item">
    <%= link_to t("announcements.publishing"), offers_user_index_path(status: :active), class: "nav-link #{'active' if params[:status] == 'active'}" %>
  </li>
  <li class="nav-item">
    <%= link_to t("announcements.not_publishing"), offers_user_index_path(status: :expired), class: "nav-link #{'active' if params[:status] == 'expired'}" %>
  </li>
</ul>

<div class="mt-4">
  <%#= sub_header @title %>

  <style type="text/css">
    .orders-table thead th {
      border: 0
    }

  </style>

  <div class="table-responsive">
    <table class="table table-sm orders-table">
      <thead>
        <tr>
          <th></th>
          <th><%= t "offers.my_offer" %></th>
          <th><%= t "announcements.announcement" %></th>
          <th><%= t "offer.count" %></th>
          <th><%= t "offers.last_update" %></th>
          <th><%= t "common.actions" %></th>
        </tr>
      </thead>

      <%= render partial: 'table_offer',
                 collection: @offers,
                 as: :offer %>

    </table>
  </div>
</div>