<div class="row pt-3">
  <div class="col-8 offset-2">

    <div class="form-group">

      <%= form_with(model: [(@announcement || announcement), offer], local: true) do |form| %>
        <% if offer.errors.any? %>
          <%= render 'form_errors', object: offer %>
        <% end %>

        <div class="form-group">
          <%= form.label :desc %>
          <%= form.trix_editor :desc %>
        </div>

        <% 3.times { form.object.attachments.build } %>
        <%= render "announcements/attachment_form_field", form: form %>

        <% unless offer.published? %>
          <%= form.submit "Taslağı Kaydet", class: 'btn btn-secondary' %>
        <% end %>
        <%= form.submit "Yayınla", class: 'btn btn-success', name: 'publish' %>

      <% end %>
    </div>
      
  </div>
</div>
