<%= form_with(model: [(@announcement || announcement), offer], local: true) do |form| %>
  <div class="row pt-3">
    <div class="col-8 offset-2">
        <% if offer.errors.any? %>
          <%= render 'form_errors', object: offer %>
        <% end %>

        <div class="form-group">
          <%= form.label :desc %>
          <%= form.trix_editor :desc %>
        </div>

        <% 3.times { form.object.attachments.build } %>
        <%= render "announcements/attachment_form_field", form: form %>
      
    </div>
  </div>

  
  <div class="mt-3 border-top row pt-3">
    <div class="col-8 offset-2">
      <% unless offer.published? %>
        <%= form.submit nil, class: 'btn btn-secondary' %>
      <% end %>
      <%= form.submit t("offers.publish"), class: 'btn btn-success', name: 'publish' %>
    </div>
  </div>
<% end %>
