<% if policy(offer).show? %>
  <div class="border-bottom">
    <div class="row py-3 cog">
      <div class="col-3 text_right">
        <% if offer.owner? current_user  %>
          <span class="text-success"><%= offer.user.name %></span>
        <% else %>
          <%= offer.user.name %>  
        <% end %>
      </div>
      <div class="col-8">
        <%= desc offer.desc %>
        <%= time_ago_in_words offer.created_at %>
        <%= render "announcements/attachments", attachments: offer.attachments %>

        <% if policy(offer).edit? %>
          <%= link_to t("common.edit"), edit_announcement_offer_path(offer.announcement, offer) %>
        <% end %>

        <% if policy(offer).destroy? %>
          <%= link_to t("common.destroy"), [@announcement, offer], method: :delete,
                data: { confirm: t('offers.destroy_are_you_sure') } %>
        <% end %>
      </div>
    </div>
  </div>
  
<% else %>

  <div class="border-bottom">
    <div class="row py-3">
      <div class="col-2 offset-1">
        <%= offer.user.first_name.first %>****
        <%= offer.user.last_name.first %>****  
      </div>
      <div class="col-8">
        <%= time_ago_in_words offer.created_at %>
      </div>
    </div>
  </div>
  


<% end %>