<p id="notice"><%= notice %></p>

<p>
  <strong>Announcement:</strong>
  <%= @offer.announcement %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @offer.desc %>
</p>

<%= link_to 'Edit', edit_announcement_offer_path([@offer.announcement, @offer]) %> |
<%= link_to 'Back', @offer.announcement %>
