<%= content_for :foot do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCIxAE_my2qNSdN_s5LBH06a3oTPPbLbUo&libraries=places&callback=initAutocomplete&language=tr&region=TR",
        async: true,
        defer: true %>
<% end %>

<%= form_with(model: content, local: true) do |form| %>
  <%= render 'form_errors', object: form.object %>

  <%= form.fields_for :announcement do |af| %>
    <%= render 'announcements/title_field', form: af %>
  <% end %>

  <div class="form-row">
    <div class="form-group col">
      <div class="d-flex">
        <%= form.label :pick_up_location %>
        <div class="ml-auto">
          <div class="form-check">
            <%= form.check_box :different_location, class: "form-check-input" %>
            <%= form.label :different_location, class: "from-check-label small" %>
          </div>
        </div>            
      </div>
      <%= form.text_field :pick_up_location, class: 'form-control' %>
    </div>

    <%= form.hidden_field :latitude, class: "latitude-input" %>
    <%= form.hidden_field :longitude, class: "longitude-input" %>

    <div class="form-group col" id="dropOffField">
      <%= form.label :drop_off_location %>
      <%= form.text_field :drop_off_location, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= form.label :pick_up_time %>
      <%= form.text_field :pick_up_time, class: 'form-control flatpickr' %>
    </div>

    <div class="form-group col">
      <%= form.label :drop_off_time %>
      <%= form.text_field :drop_off_time, class: 'form-control flatpickr' %>
    </div>
  </div>

  <%= form.fields_for :announcement do |af| %>
    <%= render 'announcements/fields_for_announcement',
          form: af,
          desc_placeholder: t("car_rental_announcements.desc_placeholder") %>
  <% end %>

  <%= form.submit nil, class: 'btn btn-success' %>
<% end %>
