<%= page_header t(".title") %>

<table class="table">
  <thead>
    <tr>
      <th><%= humanize_attribute :announcement, :title %></th>
      <th><%= humanize_attribute :car_rental_announcement, :pick_up_location %></th>
      <th><%= humanize_attribute :car_rental_announcement, :drop_off_location %></th>
      <th><%= humanize_attribute :car_rental_announcement, :pick_up_time %></th>
      <th><%= humanize_attribute :car_rental_announcement, :drop_off_time %></th>
      <th><%= t "offer.count" %></th>
      <th><%= t "common.actions" %></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.announcement.title %></td>
        <td><%= content.pick_up_location %></td>
        <td>
          <% if content.different_location %>
            <%= content.drop_off_location %>
          <% else %>
            <%= t "car_rental_announcements.same_location" %>
          <% end %>
        </td>
        <td><%= time_tag content.pick_up_time %></td>
        <td><%= time_tag content.drop_off_time %></td>
        <td><%= content.announcement.offers.count %></td>
        <td>
          <%= link_to t("common.show"), content %>
          <%= link_to t("common.edit"), edit_car_rental_announcement_path(content) %>
          <%= link_to t("common.destroy"), content, method: :delete, data: { confirm: t("common.destroy_are_you_sure") } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
