<%= content_for :container_top do %>
  <div class="top-image car-rental"></div>
<% end %>

<%= title t ".title" %>

<%= session[:created_announcement] %>
<% unless user_signed_in? %>
  <%= render "announcements/stepper", step: :announcement %>
<% end %>

<%= page_header t ".title" %>


<%= render 'form', content: @content %>

<% if ask_to_continue? %>
  <%= render "announcements/modal" %>
<% end %>