<%= render 'head' %>
<%= render 'navbar_bg_primary' %>

<div class="container-fluid mt-5">
  <div class="border rounded">

    <div class="row">
      <div class="col-md-3 col-12 d-flex align-items-stretch">
        <%= render 'dashboard_nav' %>
      </div>

      <div class="col-md-9 col-12">
        <div class="py-4 px-md-3 px-0">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
<%= render 'foot' %>