<%= render 'head' %>
<%= render 'nav' %>
<%= render 'notice_alert' %>

<div class="container-fluid mt-5">
  <div class="border rounded">

    <div class="row">
      <div class="col-3">
        <%= render 'dashboard_nav' %>
      </div>

      <div class="col-9">
        <div class="py-4 pr-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
<%= render 'foot' %>