<%= render 'head' %>
<%= render 'nav' %>
<%= render 'notice_alert' %>

<div class="container mt-5">
  <div class="border-0 border-md rounded p-0 p-md-5">
    <%= yield %>
  </div>
</div>

<%= render 'footer' %>
<%= render 'foot' %>