<%= render 'head' %>
<%= render 'facebook_messenger' %>
<%= render 'navbar_bg_primary' %>

<div class="container mt-5">
  <div class="border-0 border-md rounded">
    <%= yield :container_top %>
    <div class="p-0 p-md-5">
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'footer' %>
<%= render 'foot' %>