<!DOCTYPE html>
<html>
  <head>
    <title>Biteklif</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav' %>
    <div class="container mt-5">
      <div class="border rounded p-5">
        <%= yield %>
      </div>
    </div>
    <%= render 'footer' %>
  </body>
</html>
